
.ct_side_bar {
  position: fixed;
  height: 100vh;
  background-color: #202020E5;
  max-width: 220px;
  width: 100%;
  padding: 32px 0px;
  transition: 0.4s ease all;
  z-index: 9;

}

.ct_side_bar ul {
  margin-top: 20px;
  height: calc(100% - 100px);
  overflow-y: auto;
  padding: 0px;
}

.ct_side_bar ul li a {
  padding: 15px 0px;
  border-radius: 4px;
  transition: 0.4s ease all;
  width: 100%;
  display: flex;
  font-weight: 400;
  align-items: center;
  gap: 10px;
  color: #fff;
  position: relative;
  padding: 15px 5px 15px 20px;
}


.ct_side_bar ul li+li {
  margin-top: 10px;
}

.ct_side_bar ul li a:hover,
.ct_side_bar ul li a.active {

  color: var(--pink);
  font-weight: 700;
}




.ct_side_bar ul li:nth-child(1) a:hover svg path , 
.ct_side_bar ul li:nth-child(1) a.active svg path{

    stroke: var(--pink);
    fill: var(--pink);
}
.ct_side_bar ul li:nth-child(1) a:hover svg path  + path , 
.ct_side_bar ul li:nth-child(1) a.active svg path  + path{
    fill: #000;
}
.ct_side_bar ul li:nth-child(2) a:hover svg path , 
.ct_side_bar ul li:nth-child(2) a.active svg path{
    stroke: var(--pink);
}

.ct_side_bar ul li:nth-child(3) a:hover svg path ,
.ct_side_bar ul li:nth-child(3) a.active svg path ,
.ct_side_bar ul li:nth-child(4) a:hover svg path , 
.ct_side_bar ul li:nth-child(4) a.active svg path{
    fill: var(--pink);
    stroke: var(--pink);
}


.ct_side_bar ul li a:hover::before,
.ct_side_bar ul li a.active::before {
  height: 100%;
}


.ct_menu_bar,
.ct_close_sidebar {
  display: none;
  color: #fff;
}

.ct_right_panel {
  width: calc(100% - 220px);
  margin-left: 220px;
  transition: 0.4s ease all;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 0px;

  padding: 15px 28px;
}


.ct_admin_logo {
padding-inline: 20px;
  padding-bottom: 45px;
}

.ct_admin_logo img {
  width: 139px;
  /* margin-inline: auto; */
  display: block;
}

.ct_right_dropdown.dropdown ul {
  padding: 0px;
  border: 0px;
box-shadow: 0px 0px 114px 0px #FFFFFF26;

  padding-block: 15px;
  background-color: #000000;
}


.ct_right_dropdown.dropdown .dropdown-item {

  color: #FFFFFFB2;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  background-color: #000;


}

.ct_right_dropdown.dropdown .dropdown-item:hover {
  background-color: #202020E5;
  color: #fff !important;
  font-weight: 400;
}

.ct_right_dropdown.dropdown .dropdown-item:hover svg path {
  stroke: #fff;
 
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #202020E5;
  color: #fff !important;
}



.ct_right_dropdown button {
  border: 0px;
  padding: 11px 16px;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 6px;
}






.ct_bg_242424 {
  background-color: #242424;
}


.ct_img_35 {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  object-fit: cover;
}

.ct_color_FFFFFFBA {
  color: #FFFFFFBA;
}

.ct_color_909090{
    color: #909090;
}

.ct_mb_30{
    margin-bottom: 30px;
}
.ct_mb_32{
    margin-bottom: 32px;
}


.ct_p_30{
    padding: 30px;
}

.ct_px_28{
    padding-inline: 28px;
}

.ct_border_radius_20{
    border-radius: 20px;
}
.ct_border_radius_14{
    border-radius: 14px;
}
.ct_border_bootm_1{
    border-bottom: 1px solid #313533;

}


textarea{
height: auto !important;

}


/* breadcrumb */
.breadcrumb_custom li{
    display: flex;
    gap:12px;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}

.breadcrumb_custom li  a i{
background-color: #202020E5;
height: 40px;
width: 40px;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
}



.ct_bg_main{
    background:url("../img/loginbg.jpg");
       background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    z-index: 9;
}

.ct_bg_main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  
    background: #00000099;

}

.notification-box{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #202020;
    display: inline-flex ;
    justify-content: center;
    align-items: center;
}






.ct_border_btn{
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--pink);
    padding: 14px 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
   
}


.black-box{
    box-shadow: 0px 0px 114px 0px #FFFFFF26;
background: #000000;


}
.ct_profile_img {
    width: 110px;
    height: 110px;
    border-radius: 100px;
  flex-shrink: 0;
    position: relative;
}
.ct_profile_img>img {
    object-fit: cover;
    width: 110px;
    border-radius: 100px;
    height: 110px;
}
.ct_upload_icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    background-color: var(--pink);
    width: 28px;
    height: 28px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}





/* toggle switch */

/* .toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF1A;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-handle {
  transform: translateX(45px);
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background {
  background-color: var(--pink);
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch:before {
  content: "On";
  color: var(--pink);
  right: -15px;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background .toggle-switch-handle {
  transform: translateX(20px);
} */

.current_plan_badge{
   color: #14DA28;
   background: #14DA2812;
padding: 5px 10px;
font-size: 16px;
border-radius: 50px;
}

.manage-subs-det{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
     align-items: stretch;
    
}

.manage_sub_icon_box{
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.manage_subs_box > div{
    height: 100%;
        display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.manage-subs-det > .manage_subs_box:nth-child(1) .manage_sub_icon_box {
   background: #E91E631A;

}


.manage-subs-det > .manage_subs_box:nth-child(2) .manage_sub_icon_box {
  background: #4FC3F71A;

}

.manage-subs-det > .manage_subs_box:nth-child(3) .manage_sub_icon_box {
 background: #FF52521A;


}
.manage-subs-det > .manage_subs_box:nth-child(1) .plan-btn {
   background: var(--pink);

}
.manage-subs-det > .manage_subs_box:nth-child(2) .plan-btn {
   background: #4FC3F7;

}
.manage-subs-det > .manage_subs_box:nth-child(3) .plan-btn {
   background: #FF5252;

}
.manage-subs-det > .manage_subs_box:nth-child(1) > div{
    border: 1px solid var(--pink);
}
.manage-subs-det > .manage_subs_box:nth-child(2) > div{
    border: 1px solid #4FC3F7;
}
.manage-subs-det > .manage_subs_box:nth-child(3) > div{
    border: 1px solid #FF5252;
}
.plan-btn{
   width: 100%;
    color: #fff;
    font-size: 16px;
  border: none;
    padding: 16px 20px;
    border-radius: 16px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
     margin-top: auto !important;
}


.upgrade_subs_card .ct_instrument_icon{
    width: 85px;
    height: 85px;
   
}

.upgrade_subs_card  .ct_instrument_card h4{
    font-size: 20px;
    font-weight: 500;
}

.upgrade_subs_card{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.notification-cont-wrapper {
      padding-bottom: 16px;
      border-bottom: 1px solid #313533;
      margin-bottom: 16px;
}

.notification-cont-wrapper:last-child {
border-bottom: none;
}

.ct_close_icon {
      filter: invert(1);
}


@media screen and (max-width: 1399px) {
    .upgrade_subs_card{
   
    grid-template-columns: repeat(4, 1fr);
  
}
}
    @media screen and (max-width: 1199px) {
        .manage-subs-det{
  
    grid-template-columns: repeat(2, 1fr);
    

}
    .upgrade_subs_card{
   
    grid-template-columns: repeat(3, 1fr);
  
}

    }
    @media screen and (max-width: 991px) {    
  .ct_side_bar {
    left: -100%;
    padding-top: 40px;
     /* background-color: #202020e7; */
  }

  .ct_show .ct_side_bar {
    left: 0px;
    z-index: 999;
  }

  .ct_close_sidebar {
    position: absolute;
    display: block;
    right: 15px;
    top: 0px;
    font-size: 22px;
    transition: 0.4s ease all;
    color: #fff;
  }

  .ct_close_sidebar:hover {
    transform: rotate(360deg);
  }

  .ct_right_panel {
    margin-left: 0px;
    width: 100%;
  }

  .ct_menu_bar {
    display: block;
  }
}
    @media screen and (max-width: 767px) {
        .manage-subs-det{
  
    grid-template-columns: repeat(1, 1fr);
    
    
}  
   .upgrade_subs_card{
   
    grid-template-columns: repeat(2, 1fr);
  
}
  }
  @media screen and (max-width: 575px) {
    .upgrade_subs_card{
   
    grid-template-columns: repeat(1, 1fr);}}



 