@media screen and (max-width:1199px){
    .ct_reverse_col_1199{
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:991px){
    .ct_bottom_player{
        margin-left: 0px;
        width: 100%;
    }
    .ct_login_left{
        display: none;
    }
    .ct_login_bg{
        grid-template-columns: auto;
    }
    .ct_right_login{
        padding-inline: 30px;
    }
  .ct_reverse_col{
    flex-direction: column-reverse;
  }
}
@media screen and (max-width:767px){
    .ct_onboarding_bg{
        padding-inline: 0px;
    }
    .ct_slider_overlay {
        padding-inline: 24px;
    }
    .ct_ads_banner h4{
        font-size: 28px;
    }
    .ct_view{
        width: 40px;
        height: 40px;
    }
    .ct_grids_2{
        gap: 15px;
    }
    .ct_bottom_player{
        flex-direction: column;
    }
    .ct_sogn_name_and_thumb{
        width: 100%;
    }
    .ct_drums_bg_black{
        padding: 30px 15px;
    }
    .ct_btn_outline{
        padding-inline: 15px;
    }
}

@media screen and (max-width:575px){
    .ct_coards_action_btn{
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
    }
    .ct_coards_action_btn li{
        flex-direction: column;
        gap: 10px;
    }
    .ct_coards_action_btn li p{
        font-size: 12px !important;
    }
    .ct_play_btn_50 {
        width: 40px;
        height: 40px;
    }


    .ct_flex_col_575{
        flex-direction: column;
    }
    .ct_w_100_575{
        width: 100%;
    }
}