@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        scroll-behavior: smooth;
        word-break: break-word;
          font-family: "Poppins", sans-serif;

    }
    html,body{
        min-height: 100vh;
    }
:root{
    --pink: #DF1C62;
    --text_clr_A1A1A1 : #A1A1A1
}
.ct_text_clr_A1A1A1{
    color: var(--text_clr_A1A1A1);
}
    ul {
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
    }

    a,
    a:hover {
        text-decoration: none;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }

    /* All font Weight Css S */
    .ct_fw_300 {
        font-weight: 300;
    }

    .ct_fw_400 {
        font-weight: 400;
    }

    .ct_fw_500 {
        font-weight: 500;
    }

    .ct_fw_600 {
        font-weight: 600;
    }

    .ct_fw_700 {
        font-weight: 700;
    }

    .ct_fw_800 {
        font-weight: 800;
    }

    .ct_fw_900 {
        font-weight: 900;
    }

    /* All font Weight Css E */

    /* all font size css S */
    .ct_fs_14 {
        font-size: 14px;
    }

    .ct_fs_16 {
        font-size: 16px;
    }

    .ct_fs_18 {
        font-size: 18px;
    }

    .ct_fs_20 {
        font-size: 20px !important;
    }

    .ct_fs_24 {
        font-size: 24px;
    }
     .ct_fs_26 {
        font-size: 26px;
    }

    .ct_fs_28 {
        font-size: 28px;
    }

    .ct_fs_40 {
        font-size: 40px;
    }

    .ct_fs_22 {
        font-size: 22px;
    }
    .ct_fs_35{
        font-size: 35px;
    }
.ct_px_28{
    padding-inline: 28px;
}
    /* all font size css E */

    /* Custom Scroll Css C */
    .ct_custom_scroll::-webkit-scrollbar {
        width: 4px;
    }

    /* Track */
    .ct_custom_scroll::-webkit-scrollbar-track {
        background: #333;
    }

    /* Handle */
    .ct_custom_scroll::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    .ct_custom_scroll::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    /* Custom Scroll Css E */

    .form-control:focus {
        box-shadow: unset;
        border-color: var(--black);
    }

    .ct_show_eye {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        cursor: pointer;
        color:#fff;
    }

    .ct_input_icon_left {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    .ct_input_ps_40 {
        padding-left: 40px;
    }

    .ct_input_pe_40 {
        padding-right: 40px;
    }

    .ct_input_icon_left img {
        width: 18px;
        margin-top: -2px;
    }

    .ct_border_radius_15 {
        border-radius: 15px;
    }

    .ct_border_radius_10 {
        border-radius: 10px;
    }

    textarea {
        resize: none;
    }

    .ct_flex_1 {
        flex: 1;
    }

    .ct_flex_shrink_0 {
        flex-shrink: 0;
    }

    .ct_white_nowrap {
        white-space: nowrap;
    }

    .ct_overlay_text {
        width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .ct_para_scroll {
        height: auto;
        max-height: 240px;
        overflow-y: auto;
    }


    .ct_minimise_cnt {
    box-sizing: border-box;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 400px;
    width: auto;
}

.ct_white_space_normal {
    white-space: normal;
}
.ct_text_upercase{
    text-transform: uppercase;
}


/* Login css S */
.ct_input:focus ~ i{
    color: #000;
}
.ct_login_bg {
    background: url(../img/loginbg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.ct_login_bg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #00000099;
}
.ct_btn_outline{
    display: flex;
    align-items: center;
    justify-content: center;
outline: none;
gap: 10px;
    border: 1px solid #FFFFFF33;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}

.ct_login_left {
    background: url('../img/login_left.png');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 20px);
    margin: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
    color: #fff;
}

.ct_login_left h4{
    font-weight: 600;
    margin-top: 24px;
}

.ct_right_login h4{
    font-weight: 600;
    margin-bottom: 28px;
    text-align: center;
    color: #fff;
    font-size: 28px;
}
.ct_hr{
    border-color: #fff;
    flex:1
}
.ct_mx_10{
    margin-inline: 10px;
}

.ct_right_login {
    padding-inline: 70px;
    align-self: center;
    height: auto;
    max-height: calc(100dvh - 60px);
    overflow-y: auto;
}

.ct_input{
    height: 50px;
    background-color: #FFFFFF1A;
    border-radius: 10px;
    color: #fff !important;
    font-size:14px;
    backdrop-filter: blur(20px);
    border: 1px solid transparent;
}
.ct_input::placeholder{
    color: #FFFFFFB8;
}
.ct_input:focus{
   background-color: #FFFFFF1A;
   border-color:var(--pink) !important; 
}

.ct_custom_btn{
    background-color: var(--pink);
    color: #fff;
    border: none;
    padding: 14px 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    z-index: 1;
    position: relative;
}
.ct_custom_btn:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
        border-radius: 10px;
    background-color: #fff;
    height: 100%;
    transition: 0.4s ease;
    transform: scale(0);
    z-index: -1;
}
.ct_custom_btn:hover{
    color: #000;
}
.ct_custom_btn:hover:before{
    transform: scale(1);
}

 .ct_custom_check .form-check-input{
        width: 18px;
        height: 18px;
        background-color: transparent;
    }

    /* .ct_custom_check .form-check-input:checked[type="checkbox"] {
        filter: invert(1);
    } */

    .ct_custom_check .form-check-input:checked {
        background-color: transparent;
        border-color: var(--pink);
    }

    .ct_custom_check .form-check-input:focus {
        box-shadow: unset;
        border-color: #282828;
        vertical-align: middle;
    }


    .ct_social_login_btns .ct_btn_outline:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #df1c629e;
       
        transform: scaleX(0);
        transition: all 0.3s ease;
        border-radius: 10px;
        z-index: -1;
    }
      .ct_social_login_btns .ct_btn_outline:hover:before{
        transform: scale(1);
       
      }
    

      /* Login css E */

      /* Onboarding screen css S */
      .ct_onboarding_content{
        text-align: center;
        width: 100%;
        max-width: 465px;
        padding:30px;
      }
      .ct_onboarding_content h2{
        font-size: 28px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 6px;
      }
      .ct_onboarding_content p{
        font-size: 16px;
        color: #A1A1A1;
      }
      .ct_onboaring_logo{
        margin-bottom: 45px;
      }
      .ct_onboaring_logo img{
        width: 100%;
        max-width: 313px;
        object-fit: contain;
      }

     .ct_onboarding_bg {
    background: url(../img/loginbg.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px;
    width: 100%;
    position: relative;
    z-index: 1;
    height: 100dvh;
    overflow-y: auto;
}
.ct_inner_onboarding {
    display: flex;
    min-height: calc(100vh - 80px);
    align-items: center;
    justify-content: center;
}
      .ct_onboarding_bg:before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
       
        height: 100%;
        background: url('../img/sparkel.png');
        z-index: -1;
          background-size: cover;
        background-position: center;
    
      }
      .ct_onboarding_bg:after{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.7;
        z-index: -1;
      }

      .ct_instrument_content_main{
        height: calc(100dvh - 104px);
      }
      .ct_pt_60{
        padding-top: 60px;
      }
      /* Onboarding screen css E */

   .ct_instrument_icon {
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-inline: auto;
    background-color: #D9D9D90D;
        transition: 0.4s ease all;
}
      .ct_instrument_icon img{
        width: 48px;
        height: 48px;
        object-fit: contain;
        filter: invert(1);
      }

      .ct_instrument_card h4{
        margin-top: 40px;
        font-size: 22px;
        text-align: center;
        color: #fff;
      }

      .ct_instrument_card {
    background-color: #202020;
    padding: 40px;
    border-radius: 10px;
    transition: 0.4s ease all;
    border: 1px solid transparent;
}
.ct_instrument_card:hover .ct_instrument_icon{
    background-color: var(--pink);
}
.ct_instrument_card.active{
    border-color: var(--pink);
}
.ct_instrument_card:hover{
    transform: translateY(-10px);
    border: 1px solid var(--pink);
}

.ct_btn_w_465{
    max-width: 465px;
}
.ct_text_pink{
    color: var(--pink);
}
.ct_logo_2{
    padding-inline: 12px;
}




 

    .ct_radio-wrapper {
        display: flex;
        align-items: start;
        gap: 10px;
        
    }

    .ct_radio-button {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        margin-top: 3px;
    }

   

    .ct_radio-button input[type="radio"] {
        display: none;
    }

    .ct_radio-checkmark {
        display: inline-block;
        position: relative;
        width: 16px;
        height: 16px;
        border: 2px solid #fff;
        border-radius: 50%;
    }

    .ct_radio-checkmark:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
        transition: all 0.2s ease-in-out;
    }

    .ct_radio-button input[type="radio"]:checked~.ct_radio-checkmark:before {
        transform: translate(-50%, -50%) scale(1);
    }


    /* Payment Method css S */
    .ct_payment_method_bg{
        padding: 28px;
        background-color: #202020;
    }

    .ct_payment_method_form{
        margin-top: 22px;
        padding-top: 35px;
        border-top: 1px dashed #FFFFFF66;
    }

    .ct_payment_summery_bg{
        padding: 43px 32px 115px;
        background-color: var(--pink);
        color: white;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .ct_payment_summery_bg:before{
        content: "";
        position: absolute;
        bottom: 30px;
        background-image: url(../img/lock_shape.png);
        width: 84px;
        height: 84px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        right: 15px;
        z-index: -1;
    }
 .ct_payment_summery_bg:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -100px;
    background-color: #F0246D4D;
    border-radius: 100%;
    width: 278px;
    z-index: -2;
    height: 278px;
    bottom: -116px;
}
    .ct_user_info p{
        font-size: 14px;
        margin-bottom: 5px;
    }

    .ct_payment_card{
        padding: 0px 27px 27px;
        border-radius:16px;
        background-color: #fff;
    }
    #ct_pay_now .modal-content {
        padding: 27px;
        border-radius: 22px;
       background: linear-gradient(180deg, #28000E -6.08%, #8C0032 19.18%, #DF1C62 52.1%, #8C0032 86.13%, #28000E 112.24%);
}
  #ct_pay_now .modal-content  img{
    width: 79px;
    height: 79px;
    object-fit: contain;
    margin-inline: auto;
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }

  #ct_pay_now .modal-content .ct_payment_icon {
    width: 85px;
    height: 50px;
    border-radius: 0px 0px 25px 25px;
    background-color: var(--pink);
        display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
  }
   #ct_pay_now .modal-content .ct_payment_icon  img{
    width: 36px;
    height: 36px;

    filter: invert(1);

  }

  .ct_link_text{
    color: #fff;
    font-weight: 600;
    transition: 0.4s ease all;
  }
  .ct_link_text:hover{
    color: var(--pink);
  }
.ct_music_btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
  .ct_music_btns button ,.ct_music_btns a ,.ct_play_btn ,.ct_mix_btn{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    

  }
  .ct_play_btn{
    background-color: transparent;
    border: 1px solid #fff;
  }
  
  .ct_play_btn img{
    width: 15px;
    object-fit: contain;
    height: 15px;
    margin-left: 5px;
  }
  .ct_mix_btn img{
      width: 15px;
    object-fit: contain;
    height: 15px;
  }
  .ct_mix_btn{
    background-color: #fff;
    border: 2px solid #fff;
  }

  .ct_music_btns h4{
    margin-top: 9px;
  }
  .ct_song_thumb_img{
    position: relative;
  }
  .ct_song_thumb_img img{
    height: 178px;
    border-radius: 3px;
    width: 100%;
    object-fit: cover;

  }

.ct_sogn_name {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 20px;
    background-color: #000000;
    padding: 5px 15px;
    border-radius: 8px;
    max-width: 134px;
    color: #fff;
    margin-inline: auto;
}

  .ct_song_instrument_card{
    background-color: #202020;
    padding: 16px 20px;
    border-radius: 12px;
  }
  .ct_song_instrument_card figcaption{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: #909090;
    margin-top: 20px;
  }
  .ct_song_instrument_card figcaption p ,  .ct_song_instrument_card figcaption ul li{
    font-size: 14px;
  }
  .ct_song_instrument_card figcaption ul{
    list-style: disc;
  }
  .ct_song_instrument_card figcaption p{
    width: auto;
    max-width: 156px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
    /* Payment Method css E */

    /* Home page css S */
    .ct_ads_slider{
        margin-top: 15px;
    }
    .ct_ads_banner{
        position: relative;
       
    }
    .ct_ads_banner:before{
        content: "";
        position: absolute;
        inset: 0px;
        background: linear-gradient(90deg, #000000 17.35%, rgba(0, 0, 0, 0) 100%);
        z-index: 1;

    }
    .ct_ads_banner img{
        width: 100%;
        height: 342px;
        object-fit: cover;
        border-radius: 3px;
    }
    .ct_ads_banner h4{
        font-size: 35px;
        color: #fff;
        font-weight: 600;
    }
   .ct_ads_banner p {
    color: #fff;
    max-width: 359px;
    font-weight: 300;
}
.ct_slider_overlay {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-inline: 89px;
    z-index: 7;
}
.ct_ads_slider .owl-dots {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.ct_ads_slider .owl-dots .owl-dot span {
    margin: 4px;
    background-color: transparent;
    border: 1px solid #fff;
}
.ct_ads_slider .owl-dots .owl-dot.active span ,.ct_ads_slider .owl-dots .owl-dot:hover span{
    background-color: #fff !important;
}

.ct_drums_overlay_cnt{
    position: absolute;
    bottom: 17px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.ct_drums_overlay_cnt small {
    color: #fff;
    display: block;
    margin-bottom: 10px;
}
.ct_drums_overlay_cnt span{
    background-color: #FFFFFF30;
    padding: 5px 20px;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    white-space: nowrap;
}

.ct_view{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: #1E1E1E;
    color: #fff;
    margin-bottom: 10px;
    margin-inline: auto;
    transition: 0.4s ease all;
}
.ct_view:hover{
    background-color: var(--pink);
}
.ct_drums_slider{
    overflow-x: hidden;
}

.ct_grids_2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    align-items: center;
}
.ct_fs_12{
    font-size: 12px;
}

.ct_text_clr_FCFCFCA6{
    color: #FCFCFCA6;
}

.ct_coards_text{
    width: 16px;
    height: 16px;
    border-radius: 5px;
    background-color: #FFFFFF1F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.ct_sogn_name_and_thumb{
    display: flex;
    align-items: center;
    gap: 15px;
}
.ct_sogn_name_and_thumb img{
    width: 64px;
    height: 64px;
    border-radius: 3px;
}
.ct_bottom_player{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: auto;

}


.video-progress-wrap{
    display:flex;
    align-items:center;
    gap:10px;
    width:100%;
    max-width: 500px;
    color:#fff;
    font-size:14px;
    margin-inline: auto;
}

.progress-bar{
    flex:1;
    height:6px;
    background:#4a4a4a;
    border-radius:50px;
    overflow:hidden;
}

.progress-fill{
    width:0%;
    height:100%;
    background:#ff007f;
    border-radius:50px;
    transition:width 0.2s linear;
}
.ct_bottom_player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #1E1D1D;
    padding: 15px 28px;
    border-radius: 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: calc(100% - 236px);
    margin-left: 236px;
    z-index: 99;
}
.ct_inner_main_scroll {
    max-height: calc(100dvh - 266px);
    overflow-y: auto;
    height: auto;
}
    /* Home page css E */

    /* Drums Page css S */
    .ct_drums_bg_black{
        background-color: #000000B2;
        padding: 47px 40px;

    }

    .ct_drums_song_palyer img{
        width: 56px;
        height: 56px;
        object-fit: cover;
        border-radius: 2px;
        flex-shrink: 0;
    }
    .ct_drums_song_palyer{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .ct_badge{
        padding: 4px 18px;
        background-color: #FFFFFF2E;
        border-radius: 100px;
        color: #fff;
        white-space: nowrap;

    }
    .ct_drums_easy_list{
        overflow-x: visible;
    }
    .ct_drums_easy_list > li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;
        border-bottom: 1px solid #313533;
        margin-bottom: 15px;
        gap: 20px;
    }
    .ct_drums_song_palyer p{
        white-space: nowrap;
    }

    .ct_text_clr_AFB6B2{
        color: #AFB6B2;
    }
.ct_mix_dropdown i{
    cursor: pointer;
}
.ct_me_28{
    margin-right: 28px;
}
    .ct_mix_dropdown ul.dropdown-menu {
    background-color: #242528;
    padding-block: 0px;
    border-radius: 5px;
}
 .ct_mix_dropdown ul.dropdown-menu li a{
    color: #fff;
    font-size: 14px;
    padding-block: 5px;
 }
  .ct_mix_dropdown ul.dropdown-menu li a:hover{
    background-color: var(--pink);
  }
    /* Drums Page css E */

    #ct_delete_account_modal .modal-content ,#ct_logout_modal_post .modal-content{
        background-color: #222226;
    }
    .ct_library_card img{
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
    .ct_library_card figcaption{
        margin-top: 15px;
    }
    .ct_library_card h4{
        text-transform: uppercase;
    }
    .ct_like i{
        color: var(--pink);
    }
    .ct_text_op_03{
        opacity: 0.3;
    }
    .ct_lyrics_text p{
        line-height: 28px;
        max-height: 200px;
        overflow-y: auto;
        height: auto;
    }

    .ct_lyrics_text p:first-line{
        opacity: 1;
    }
   .ct_coards_img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
}


.ct_record_btn{
    padding: 10px 18px;
    background-color: #FF0000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    justify-content: space-between;
    border: 1px solid #FF0000;
    font-weight: 600;
}


.ct_social_login_btns{
    flex-wrap: wrap;
}

.ct_play_btn_50 {
    border-width: 2px;
    width: 50px;
    height: 50px;
    background-color: #313131;
}

.ct_coards_action_btn li{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
}


/* Audio Track css S */
.slidecontainer {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    max-width: 100%;
    display: block;
    height: 50px;

}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #313131;
    outline: none;
    transition: opacity 0.2s;
    border: 2px dashed #fff;
    height: 38px;
    border-radius: 10px;
}
.ct_multicolor_bg {
    position: relative;
    top: -25px;
    display: flex;
    overflow: hidden;
    grid-gap: 7px;
    gap: 7px;
    align-items: center;
    height: 34px;
    transform: translateY(-50%);
    left: 0px;
    border-radius: 10px 0px 0px 10px;
    z-index: 1;
    margin-inline: 10px;
    justify-content: space-between;
}
.ct_multicolor_bg p {
    margin-bottom: 0px;
    width: 5px;
    border-radius: 5px;
    background-color: #fff !important;
}
.ct_multicolor_bg p:nth-child(1) {
  background: #808080;
  height: 18px;
}

.ct_multicolor_bg p:nth-child(2) {
  background: #808080;
  height: 12px;
}

.ct_multicolor_bg p:nth-child(3) {
  background: #808080;
  height: 24px;
}

.ct_multicolor_bg p:nth-child(4) {
  background: #808080;
  height: 18px;
}

.ct_multicolor_bg p:nth-child(5) {
  background: #808080;
  height: 28px;
}

.ct_multicolor_bg p:nth-child(6) {
  background: #808080;
  height: 28px;
}

.ct_multicolor_bg p:nth-child(7) {
  background: #808080;
  height: 18px;
}

.ct_multicolor_bg p:nth-child(8) {
  background: #808080;
  height: 24px;
}

.ct_multicolor_bg p:nth-child(9) {
  background: #808080;
  height: 12px;
}

.ct_multicolor_bg p:nth-child(10) {
  background: #808080;
  height: 18px;
}

.ct_multicolor_bg p:nth-child(11) {
  background: #808080;
  height: 18px;
}

.ct_multicolor_bg p:nth-child(12) {
  background: #808080;
  height: 12px;
}

.ct_multicolor_bg p:nth-child(13) {
  background: #808080;
  height: 24px;
}

.ct_multicolor_bg p:nth-child(14) {
  background: #808080;
  height: 18px;
}

.ct_multicolor_bg p:nth-child(15) {
  background: #808080;
  height: 28px;
}

.ct_multicolor_bg p:nth-child(16) {
  background: #808080;
  height: 28px;
}

.ct_multicolor_bg p:nth-child(17) {
  background: #808080;
  height: 18px;
}

.ct_multicolor_bg p:nth-child(18) {
  background: #808080;
  height: 24px;
}

.ct_multicolor_bg p:nth-child(19) {
  background: #808080;
  height: 12px;
}

.ct_multicolor_bg p:nth-child(20) {
  background: #808080;
  height: 18px;
}

.ct_multicolor_bg p:nth-child(21) {
  background: #808080;
  height: 18px;
}

.ct_multicolor_bg p:nth-child(22) {
  background: #808080;
  height: 12px;
}

.ct_multicolor_bg p:nth-child(23) {
  background: #808080;
  height: 24px;
}

.ct_multicolor_bg p:nth-child(24) {
  background: #808080;
  height: 18px;
}

.ct_multicolor_bg p:nth-child(25) {
  background: #808080;
  height: 28px;
}

.ct_multicolor_bg p:nth-child(26) {
  background: #808080;
  height: 28px;
}

.ct_multicolor_bg p:nth-child(27) {
  background: #808080;
  height: 18px;
}

.ct_multicolor_bg p:nth-child(28) {
  background: #808080;
  height: 24px;
}

.ct_multicolor_bg p:nth-child(29) {
  background: #808080;
  height: 12px;
}

.ct_multicolor_bg p:nth-child(30) {
  background: #808080;
  height: 18px;
}

.ct_multicolor_bg p:nth-child(31) {
  background: #808080;
  height: 12px;
}

.ct_multicolor_bg p:nth-child(32) {
  background: #808080;
  height: 18px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  height: 50px;
  background: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
/* Audio Track css E */



.range-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* margin-top: 15px;
  margin-bottom: 15px; */
}

#range,
.range2 {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 100px;
  height: 20px;
  background-color: #313131;
  border: 1px solid #fff;
}

#range:focus,
.range2:focus {
  outline: none;
}

/*  #range::before, #range::after {
        position: absolute;
        top: 2rem;
        color: #333;
        font-size: 14px;
        line-height: 1;
        padding: 3px 5px;
        background-color: rgba(0,0,0,.1);
        border-radius: 4px;
    }*/
#range::before,
.range2::before {
  left: 0;
  content: attr(data-min);
}

#range::after,
.range2::before {
  right: 0;
  content: attr(data-max);
}

#range::-webkit-slider-runnable-track,
.range2::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  animate: 0.2s;
  background: linear-gradient(90deg,
      transparent var(--range-progress),
      transparent var(--range-progress));
  border-radius: 1rem;
  border-radius: 100px;
}

#range::-webkit-slider-thumb,
.range2::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0.25rem solid #df306f;
  box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  height: 32px;
  width: 32px;
  transform: translateY(calc(-50% + 8px));
}

#tooltip {
  position: absolute;
  bottom: -6px;
}

#tooltip span {
  position: absolute;
  text-align: center;
  display: block;
  line-height: 1;
  padding: 0.125rem 0.25rem;
  color: #fff;
  border-radius: 0.125rem;
  font-size: 12px;
  left: 50%;
  transform: translate(-50%, 0);
}


.ct_transparent_btn{
    background-color: #FFFFFF1A;
    color: #fff;
    border: 1px solid transparent;
    padding: 14px 30px;
    border-radius: 10px;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.ct_transparent_btn:before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: scale(0);
    background-color: #000;
    transition: 0.4s ease all;
    z-index: -1;
    border-radius: 10px;
}
.ct_transparent_btn:hover:before{
    transform: scale(1);
}



.ct_setting_popup {
  position: fixed;
  top: 0%;
  z-index: 99;
  right: -100%;
  width: 100%;
  max-width: 400px;
  transition: 0.4s ease all;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  background-color: #282626;
  height: 100vh;
}

.ct_setting_popup.active {
  right: 0px;
}


.ct_remove_mg_bg12 {
    margin-inline: 0px !important;
}
.ct_music_bg {
    background-color: #1c1c1c;
    height: 100vh;
    padding-block: 39px;
    /* margin-inline: 22px; */
}

.ct_close_btn121 {
    position: absolute;
    left: 15px;
    top: 38px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 6px;
}
.ct_close_btn121 i {
    color: #fff;
}
.et_filter_btns {
    display: flex;
    align-items: center;
    grid-gap: 6px;
    gap: 6px;
    text-align: center;
    justify-content: space-between;
    margin-top: 2px;

}

.ct_select_box129 {
    line-height: 33px;
    text-align: center;
}
.ct_select_coards_input select, .ct_select_box129 {
    width: 100%;
    height: 38px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    padding-inline: 10px;
    border: 1px solid #fff;
    outline: none;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}
.switch input {
    opacity: 1;
    width: 0;
    height: 0;
}
.switch .ct_slider12 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: transparent;
    transition: 0.4s;
    border-radius: 30px;
    border: 1px solid #ccc;
}
.switch .ct_slider12:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 16px;
    left: 1px;
    top: 1px;
    bottom: 0;
    background-color: white;
    transition: 0.4s;
    /* border: 2px solid #df316f; */
    transform: translateX(0em) scale(1);
}
.ct_main_div {
    margin-inline: auto;
    max-width: 500px;
    padding-inline: 15px;
    margin-top: 30px;
    height: calc(100% - 178px);
    overflow-y: auto;
}
.ct_border_bottom {
    border-bottom: 1px solid #FFFFFF1A;
    padding-bottom: 15px;
    padding-top: 15px;
}
.ct_white {
    color: #fff;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
}
.ct_guitar_setting_item {
    display: flex;
    justify-content: space-between;
    grid-gap: 50px;
    grid-gap: 50px;
    gap: 50px;
    margin-top: 15px;
    padding-inline: 10px;
}
.ct_setting_left {
    flex: 1 1;
}


.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    background-color: #313131;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 0px;
    padding: 6px 20px;
}
.nav.nav-pills{
    border-radius: 10px;
    overflow: hidden;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #333;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.ct_padd_30 {
    padding-inline: 30px;
    padding-bottom: 30px;
}

button.ct_cstm_btn {
    background-color: #df306f;
    font-size: 14px;
    border: none;
    padding: 10px 8px;
    color: #fff;
    border-radius: 5px;
}
.ct_cstm_lg {
    margin-top: px;
    width: 100%;
    padding-block: 15px !important;
    border-radius: 10px;
}

.ct_cstm_lg {
    font-weight: 700;
}

.switch input:checked+.ct_slider12 {
  background-color: #df306f;
  border: 1px solid transparent;
}

.switch input:checked+.ct_slider12:before {
  transform: translateX(1.1em) scale(1);
}
 #save_mixing_modal .modal-content{
    background-color: #282626
 }




.dev-search-panel {
    max-width: 100%;
    background: #1e1f28;
    border-radius: 20px;
    padding: 24px;
    color: #fff;
    position: absolute;
    z-index: 99;
    width: calc(100% - 60px);
    left: 0px;
    margin-inline: auto;
    right: 0px;
    margin-top: 4px;
}

.dev-search-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.dev-search-title{
    font-size:14px;
    font-weight:500;
    margin-bottom: 0px;
}

.dev-clear-btn{
    border:none;
    background:#343641;
    color:#fff;
    padding:8px 10px;
    border-radius:8px;
    cursor:pointer;
    font-size: 14px;
}



.dev-search-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-height: 262px;
    height: auto;
    width: 100%;
    overflow-y: auto;
}

.dev-search-item{
    display:flex;
    align-items:center;
    gap:16px;
    transition:.3s;
}


.dev-search-img{
    width:48px;
    height:48px;
    object-fit:cover;
    border-radius:8px;
}

.dev-search-icon{
    width:56px;
    height:56px;
    border-radius:50%;
    background:#2d2f39;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:22px;
}

.dev-search-content{
    display:flex;
    flex-direction:column;
}

.dev-search-name{
    font-size:14px;
    font-weight:500;
    margin-bottom:4px;
}

.dev-search-artist{
    color:#FCFCFCA6;
    font-size:14px;
}


.screen-loader-center .box {
  height: 40px;
  top: 40%;
  left: 50%;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
}

.screen-loader-center .a {
  width: 10px;
  height: 40px;
  margin: 0px 3px;
  border-radius: 10px;
  background: #fff;
  animation: a1 2s infinite;
}

.screen-loader-center .a:nth-child(2) {
  animation-delay: 0.1s;
}

.screen-loader-center .a:nth-child(3) {
  animation-delay: 0.2s;
}

.screen-loader-center .a:nth-child(4) {
  animation-delay: 0.3s;
}

.screen-loader-center .a:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes a1 {
  0% {
    height: 0px;
  }

  50% {
    height: 40px;
  }

  100% {
    height: 0px;
  }
}
